@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-body-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-clash-display: var(--font-clash-display);
  /* color */
  --color-blaqmix-red: #f44336;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility masked-img {
  mask-image: url("/images/Blaqmix_logo_white.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

@utility stroke-image {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@utility link-hovered {
  transition: all 500ms;
  color: var(--color-blaqmix-red);
}

@utility hide-scroll {
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

@utility caret-hover {
  @apply text-black transition-all duration-300 cursor-pointer bg-white;
}

@utility horizontal-shadow {
  box-shadow: 8px 0 5px -4px #333, -8px 0 5px -4px #333;
}

@utility horizontal-shadow-inside {
  box-shadow: inset 8px 0 5px -4px #333, inset -8px 0 5px -4px #333;
}

@utility slide-animation {
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-120%);
  }
}
